{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h4 class="mb-0">Todoを追加</h4>
        </div>
        <div class="card-body">
            <form action="" method="POST">
                <!-- Djangoでフォームを使うときに「クロスサイトリクエストフォージェリ（CSRF）」という攻撃を防ぐためのセキュリティ用タグ -->
                {% csrf_token %}
                <!-- DjangoのフォームオブジェクトをHTMLの<p>タグで囲んだ形で自動的に出力するテンプレートタグ -->
                {{ form.as_p }}

                <div class="text-right">
                    <button type="submit" class="btn btn-primary">作成</button>
                    <a href="{% url 'list' %}" class="btn btn-secondary">キャンセル</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
